#topnav .navigation-menu>li.active>a, #topnav .navigation-menu>li:hover>a{
    color: #2AABB0 !important;
}

#input-Keywords:focus{
    border-color: #2AABB0 !important;
}

.form-select {
    border-color: #2AABB0;
}
  
#topnav .navigation-menu>li .submenu li > a:hover{
    color: #2AABB0 !important;
}

#topnav .has-submenu.active .submenu li.active>a{
    color: #000 !important;
}

#navmenu-nav li.account-menu.active .navbar-link{
    background-color: #2AABB0 !important;
    color: #fff !important;
}
#navmenu-nav li.account-menu:hover .navbar-link{
    background-color: #2AABB0 !important;
    color: #fff !important;
}
.ps-5:focus{
    border-color: #2AABB0 !important;
}
.form-select{
    border-color: #2AABB0 !important;
}
.form-select:focus{
    outline-color: #0a0c0d;
}
.avatar.avatar-large{
    border: 5px solid #2AABB0 !important;
}

.page-item > a:hover {
    background-color: #2AABB0 !important;
    border-color: #2AABB0 !important;
}

.pagination .page-item.active .page-link{
    background-color: #2AABB0 !important;
    border-color: #2AABB0 !important;
}

.social-icon li a:hover{
    background-color: #2AABB0 !important;
}

.avatar.avatar-ex-large{
    border: 5px solid #2AABB0 !important;
}
.back-to-top{
    background-color: #2AABB0 !important;
    color: #fff;
}