{% extends "./templates/base.html.twig" %}

{% block body %}
    <section class="bg-home d-flex align-items-center position-relative mt-lg-5 mt-md-4">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card form-signin p-4 rounded shadow">
                        <form method="post" action="/create">
                            <a href="index.html"><img src="assets/images/app/logo.png"
                                                      class="avatar avatar-small mb-4 d-block mx-auto" alt=""></a>
                            <h5 class="mb-3 text-center">Créer un compte</h5>

                            <div class="form-floating mb-3">
                               <select name="role" id="role" class="form-select">
                                    <option value="1">Client</option>
                                    <option value="2">Coach</option>
                                </select>
                                <label for="role">Vous êtes ?</label>
                            </div>

                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" id="floatingInput" placeholder="Harry"
                                       name="name">
                                <label for="floatingInput">Nom</label>
                            </div>

                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" id="floatingInput" placeholder="Harry"
                                       name="firstName">
                                <label for="floatingInput">Prénom</label>
                            </div>

                            <div class="form-floating mb-2">
                                <input type="email" class="form-control" id="floatingEmail"
                                       placeholder="body@example.com" name="email">
                                <label for="floatingEmail">E-mail</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" autocomplete="off">
                                <label for="floatingPassword">Mot de passe</label>
                            </div>

                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault"
                                       name="cgu">
                                <label class="form-check-label" for="flexCheckDefault">J'accepte <a href="#"
                                                                                                    style="color: #2AABB0;">les
                                        conditions générales</a></label>
                            </div>

                            <button class="btn  w-100" style="color: #2AABB0; background-color: #2AABB0; color: #fff;"
                                    type="submit">S'inscrire
                            </button>

                            <div class="col-12 text-center mt-3">
                                <p class="mb-0 mt-3"><small class="text-dark me-2">Vous avez déjà un compte ?</small> <a
                                            href="/login" class="text-dark fw-bold">Se connecter</a></p>
                            </div><!--end col-->

                            <p class="mb-0 text-muted mt-3 text-center">©
                                <script>document.write(new Date().getFullYear())</script>
                                Landrick.
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}