{% extends "./templates/base.html.twig" %}
{% block title  %}A propos de nous {% endblock %}
{% block body %}
<!-- Hero Start -->
<section class="bg-half-170 bg-light d-table w-100">
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="pages-heading">
                    <h4 class="title mb-0">A propos</h4>
                </div>
            </div> <!--end col-->
        </div><!--end row-->

        <div class="position-breadcrumb">
            <nav aria-label="breadcrumb" class="d-inline-block">
                <ul class="breadcrumb rounded shadow mb-0 px-4 py-2">
                    <li class="breadcrumb-item"><a href="/">Acceuil</a></li>
                    <li class="breadcrumb-item active" style="color: #2aabb0" aria-current="page">A propos</li>
                </ul>
            </nav>
        </div>
    </div> <!--end container-->
</section><!--end section-->
<!-- Hero End -->
<!-- Start Terms & Conditions -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="card shadow border-0 rounded">
                    <div class="card-body">
                        <h1>À Propos</h1>
                        <p>Bienvenue sur notre site de e-coaching !</p>
                        <p>Nous sommes une équipe passionnée par le coaching en ligne et nous avons créé cette plateforme dans le but de
                            faciliter l'accès à des services de coaching personnalisés et de qualité.</p>
                        <p>Notre objectif est de connecter les coaches professionnels avec les personnes qui cherchent à améliorer leur vie dans
                            différents domaines tels que la santé, le bien-être, le développement personnel, la carrière et bien d'autres.</p>
                        <p>Sur notre site, vous trouverez une sélection de coaches expérimentés et certifiés, prêts à vous accompagner dans
                            votre parcours de croissance et de réussite. Ils sont là pour vous aider à atteindre vos objectifs, à surmonter vos
                            obstacles et à déployer tout votre potentiel.</p>
                        <p>Notre plateforme offre des fonctionnalités avancées qui vous permettront de trouver le coach qui correspond le mieux
                            à vos besoins, de planifier des séances en ligne, de communiquer avec votre coach via la messagerie intégrée et de
                            suivre votre progression au fil du temps.</p>
                        <p>Nous croyons fermement au pouvoir du coaching et à son impact positif sur la vie des individus. C'est pourquoi nous
                            avons créé cette plateforme avec passion et dévouement.</p>
                        <p>Nous espérons que notre site vous offrira une expérience enrichissante et que vous trouverez le coach qui vous
                            guidera vers l'épanouissement et la réussite personnelle.</p>
                        <p>N'hésitez pas à nous contacter si vous avez des questions ou des commentaires. Nous sommes là pour vous aider et nous
                            vous souhaitons un merveilleux parcours de coaching en ligne !</p>
                        <p>Merci de nous avoir choisi.</p>
                        <p>L'équipe de e-coaching</p>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End Terms & Conditions -->
{% endblock body %}