{% extends "./templates/base.html.twig" %}
{% block title  %}A propos de nous {% endblock %}
{% block body %}
<!-- Hero Start -->
<section class="bg-half-170 bg-light d-table w-100">
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="pages-heading">
                    <h4 class="title mb-0">Terms et Conditions </h4>
                </div>
            </div> <!--end col-->
        </div><!--end row-->

        <div class="position-breadcrumb">
            <nav aria-label="breadcrumb" class="d-inline-block">
                <ul class="breadcrumb rounded shadow mb-0 px-4 py-2">
                    <li class="breadcrumb-item"><a href="/">Acceuil</a></li>
                    <li class="breadcrumb-item active" style="color: #2aabb0" aria-current="page">Terms et Conditions
                    </li>
                </ul>
            </nav>
        </div>
    </div> <!--end container-->
</section><!--end section-->
<!-- Hero End -->
<!-- Start Terms & Conditions -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="card shadow border-0 rounded">
                    <div class="card-body">
                        <h2>Termes et conditions</h2>

                        <h3>1. Introduction</h3>
                        <p>
                            Bienvenue sur le site web de eCoach (<a
                                href="http://www.e-coach.live">www.e-coach.live</a>). En utilisant ce site,
                            vous acceptez de vous conformer à ces termes et conditions. Veuillez les lire attentivement
                            avant de naviguer sur le
                            site ou de vous engager dans nos services d'écoaching.
                        </p>

                        <h3>2. Utilisation du site</h3>
                        <p>
                            a. Vous devez avoir au moins <b class="text-danger">18 ans</b> pour utiliser notre site ou
                            obtenir nos services
                            d'écoaching.<br>
                            b. Vous acceptez de fournir des informations <b class="text-danger">exactes, complètes et à
                                jour</b> lors de votre
                            inscription sur notre site.<br>
                            c. Vous êtes responsable de la <b class="text-danger">confidentialité de votre compte et de
                                votre mot de passe</b>.
                            Toute activité effectuée sous votre compte est de votre responsabilité.<br>
                            d. Vous acceptez de ne pas utiliser notre site à des fins <b class="text-danger">illégales,
                                diffamatoires,
                                offensantes ou nuisibles pour autrui</b>.
                        </p>

                        <h3>3. Propriété intellectuelle</h3>
                        <p>
                            a. Tout le contenu présent sur notre site, y compris les textes, images, logos, vidéos, est
                            protégé par les lois sur
                            la propriété intellectuelle et reste la propriété exclusive de eCoach.<br>
                            b. Vous n'êtes pas autorisé à reproduire, distribuer, modifier ou utiliser de quelque
                            manière que ce soit le contenu
                            de notre site sans notre autorisation écrite préalable.
                        </p>

                        <h3>4. Services d'écoaching</h3>
                        <p>
                            a. Les services d'écoaching proposés sur notre site sont fournis à titre informatif et
                            éducatif. Ils ne doivent pas
                            être considérés comme un substitut à un avis professionnel, médical ou financier.<br>
                            b. Nous nous efforçons de fournir des services d'écoaching de haute qualité, mais nous ne
                            garantissons pas les
                            résultats spécifiques de ces services.<br>
                            c. Toutes les informations personnelles que vous nous fournissez dans le cadre de nos
                            services d'écoaching seront
                            traitées conformément à notre politique de confidentialité.
                        </p>

                        <h3>5. Limitation de responsabilité</h3>
                        <p>
                            a. Nous déclinons toute responsabilité en cas de perte, dommage ou préjudice résultant de
                            l'utilisation de notre
                            site ou de nos services d'écoaching.<br>
                            b. Nous ne sommes pas responsables des contenus externes auxquels notre site peut renvoyer
                            via des liens.
                        </p>

                        <h3>6. Modifications des termes et conditions</h3>
                        <p>
                            Nous nous réservons le droit de modifier ces termes et conditions à tout moment. Les
                            modifications seront effectives
                            dès leur publication sur notre site. Il est de votre responsabilité de consulter
                            régulièrement cette page pour
                            prendre connaissance des éventuelles modifications.<br>
                            En utilisant notre site ou en engageant nos services d'écoaching après toute modification
                            des termes et conditions,
                            vous acceptez les nouvelles conditions.
                        </p>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End Terms & Conditions -->
{% endblock body %}