{# {% extends 'base.html.twig' %}
{% block body %} #}
    {% extends "./templates/base.html.twig" %}
    {% block body %}

        <!-- Hero Start -->
        <section class="bg-profile d-table w-100"
                 style="background: url('{{ assets_path }}/assets/images/account/bg.png') center center; background-color: #2AABB0 !important;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card public-profile border-0 rounded shadow" style="z-index: 1;">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-lg-2 col-md-3 text-md-start text-center">
                                        <img src="{{ data.client.utilisateur.profil_image }}"
                                             class="avatar avatar-large rounded-circle shadow d-block mx-auto" alt="">
                                    </div><!--end col-->

                                    <div class="col-lg-10 col-md-9">
                                        <div class="row align-items-end">
                                            <div class="col-md-7 text-md-start text-center mt-4 mt-sm-0">
                                                <h3 class="title mb-0">{{ data.client.utilisateur.nom }} {{ data.client.utilisateur.prenom }}</h3>
                                            </div><!--end col-->
                                            <div class="col-md-5 text-md-end text-center">
                                                <ul class="list-unstyled social-icon social mb-0 mt-4">
                                                    <li class="list-inline-item"><a href="/profile/settings"
                                                                                    class="rounded"
                                                                                    data-bs-toggle="tooltip"
                                                                                    data-bs-placement="bottom"
                                                                                    title="Parametre"><i
                                                                    class="uil uil-cog align-middle"></i></a></li>
                                                    <li class="list-inline-item">
                                                        <form action="/logout" method="post" name="logout">
                                                            <a href="#" onclick="submitLogoutForm()" class="rounded" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Deconnexion">
                                                                <i class="uil uil-sign-out-alt align-middle"></i>
                                                            </a>
                                                        </form>

                                                    </li>
                                                </ul><!--end icon-->
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--ed container-->
        </section><!--end section-->
        <!-- Hero End -->


        <!-- Profile Start -->
        <section class="section mt-60">
            <div class="container mt-lg-3">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12 d-lg-block d-none">
                        <div class="sidebar sticky-bar p-4 rounded shadow">

                            <div class="widget mt-4">
                                <ul class="list-unstyled sidebar-nav mb-0" id="navmenu-nav">
                                    <li class="navbar-item account-menu px-0">
                                        <a href="/profile"
                                           class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                                            <span class="h4 mb-0"><i class="uil uil-dashboard"></i></span>
                                            <h6 class="mb-0 ms-2">Profile</h6>
                                        </a>
                                    </li>

                                    <li class="navbar-item account-menu px-0 mt-2">
                                        <a href="/reserver"
                                           class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                                            <span class="h4 mb-0"><i class="uil uil-schedule "></i></span>
                                            <h6 class="mb-0 ms-2">Nouvelle</h6>
                                        </a>
                                    </li>

                                    <li class="navbar-item account-menu px-0 mt-2">
                                        <a href="/c/coachs"
                                           class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                                            <span class="h4 mb-0"><i class="uil  uil-users-alt "></i></span>
                                            <h6 class="mb-0 ms-2">Mes Coachs</h6>
                                        </a>
                                    </li>

                                    <li class="navbar-item account-menu px-0 mt-2">
                                        <a href="#"
                                           class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                                            <span class="h4 mb-0"><i class="uil uil-transaction"></i></span>
                                            <h6 class="mb-0 ms-2">Payments</h6>
                                        </a>
                                    </li>

                                    <li class="navbar-item account-menu px-0 mt-2">
                                        <a href="/profile/settings"
                                           class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                                            <span class="h4 mb-0"><i class="uil uil-setting"></i></span>
                                            <h6 class="mb-0 ms-2">Parametres</h6>
                                        </a>
                                    </li> 
                                </ul>
                            </div>
                        </div>
                    </div><!--end col-->
                    {% block secondary %}{% endblock %}
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- Profile End -->

    {% endblock body %}
{# {% endblock %} #}