{#{% extends 'base.html.twig' %}
{% block body %}#}
    {% extends "./templates/base.html.twig" %}
    {% block body %}

        <!-- Hero Start -->
        <section class="bg-profile d-table w-100"
                 style="background: url('{{ assets_path }}/assets/images/account/bg.png') center center; background-color: #2AABB0 !important;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card public-profile border-0 rounded shadow" style="z-index: 1;">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-lg-2 col-md-3 text-md-start text-center">
                                        <img src="{{ assets_path }}/assets/images/client/05.jpg"
                                             class="avatar avatar-large rounded-circle shadow d-block mx-auto" alt="">
                                    </div><!--end col-->

                                    <div class="col-lg-10 col-md-9">
                                        <div class="row align-items-end">
                                            <div class="col-md-7 text-md-start text-center mt-4 mt-sm-0">
                                                <h3 class="title mb-0">Krista Joseph</h3>
                                                <small class="text-muted h6 me-2">Web Developer</small>
                                                <ul class="list-inline mb-0 mt-3">
                                                    <li class="list-inline-item me-2"><a href="javascript:void(0)"
                                                                                         class="text-muted"
                                                                                         title="Instagram"><i
                                                                    data-feather="instagram" class="fea icon-sm me-2"></i>krista_joseph</a>
                                                    </li>
                                                    <li class="list-inline-item"><a href="javascript:void(0)"
                                                                                    class="text-muted" title="Linkedin"><i
                                                                    data-feather="linkedin" class="fea icon-sm me-2"></i>Krista
                                                            Joseph</a></li>
                                                </ul>
                                            </div><!--end col-->
                                            <div class="col-md-5 text-md-end text-center">
                                                <ul class="list-unstyled social-icon social mb-0 mt-4">
                                                    <li class="list-inline-item"><a href="javascript:void(0)"
                                                                                    class="rounded" data-bs-toggle="tooltip"
                                                                                    data-bs-placement="bottom"
                                                                                    title="Add Friend"><i
                                                                    class="uil uil-user-plus align-middle"></i></a></li>
                                                    <li class="list-inline-item"><a href="javascript:void(0)"
                                                                                    class="rounded" data-bs-toggle="tooltip"
                                                                                    data-bs-placement="bottom"
                                                                                    title="Messages"><i
                                                                    class="uil uil-comment align-middle"></i></a></li>
                                                    <li class="list-inline-item"><a href="javascript:void(0)"
                                                                                    class="rounded" data-bs-toggle="tooltip"
                                                                                    data-bs-placement="bottom"
                                                                                    title="Notifications"><i
                                                                    class="uil uil-bell align-middle"></i></a></li>
                                                    <li class="list-inline-item"><a href="account-setting.html"
                                                                                    class="rounded" data-bs-toggle="tooltip"
                                                                                    data-bs-placement="bottom"
                                                                                    title="Settings"><i
                                                                    class="uil uil-cog align-middle"></i></a></li>
                                                </ul><!--end icon-->
                                            </div><!--end col-->
                                        </div><!--end row-->
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--ed container-->
        </section><!--end section-->
        <!-- Hero End -->

        <!-- Profile Start -->
        <section class="section mt-60">
            <div class="container mt-lg-3">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12 d-lg-block d-none">
                        <div class="sidebar sticky-bar p-4 rounded shadow">
                            <div class="widget">
                                <h5 class="widget-title">Followers :</h5>
                                <div class="row mt-4">
                                    <div class="col-6 text-center">
                                        <i data-feather="user-plus" class="fea icon-ex-md mb-1" style="color: #2AABB0"></i>
                                        <h5 class="mb-0">2588</h5>
                                        <p class="text-muted mb-0">Followers</p>
                                    </div><!--end col-->

                                    <div class="col-6 text-center">
                                        <i data-feather="users" class="fea icon-ex-md  mb-1" style="color: #2AABB0"></i>
                                        <h5 class="mb-0">454</h5>
                                        <p class="text-muted mb-0">Following</p>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div>

                            <div class="widget mt-4">
                                <ul class="list-unstyled sidebar-nav mb-0" id="navmenu-nav">
                                    <li class="navbar-item account-menu px-0" >
                                        <a href="/coach/profile"
                                           class="navbar-link d-flex rounded shadow align-items-center py-2 px-4"

                                        >
                                            <span class="h4 mb-0"><i class="uil uil-dashboard"></i></span>
                                            <h6 class="mb-0 ms-2" >Profile</h6>
                                        </a>
                                    </li>

                                    <li class="navbar-item account-menu px-0 mt-2">
                                        <a href="/coach/clients"
                                           class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                                            <span class="h4 mb-0"><i class="uil uil-users-alt"></i></span>
                                            <h6 class="mb-0 ms-2">Clients</h6>
                                        </a>
                                    </li>

                                    <li class="navbar-item account-menu px-0 mt-2">
                                        <a href="account-works.html"
                                           class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                                            <span class="h4 mb-0"><i class="uil uil-file"></i></span>
                                            <h6 class="mb-0 ms-2">Portfolio</h6>
                                        </a>
                                    </li>

                                    <li class="navbar-item account-menu px-0 mt-2">
                                        <a href="/coach/chat"
                                           class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                                            <span class="h4 mb-0"><i class="uil uil-comment"></i></span>
                                            <h6 class="mb-0 ms-2">Chat</h6>
                                        </a>
                                    </li>

                                    <li class="navbar-item account-menu px-0 mt-2">
                                        <a href="/coach/messages"
                                           class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                                            <span class="h4 mb-0"><i class="uil uil-envelope-star"></i></span>
                                            <h6 class="mb-0 ms-2">Messages</h6>
                                        </a>
                                    </li>

                                    <li class="navbar-item account-menu px-0 mt-2">
                                        <a href="account-payments.html"
                                           class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                                            <span class="h4 mb-0"><i class="uil uil-transaction"></i></span>
                                            <h6 class="mb-0 ms-2">Payments</h6>
                                        </a>
                                    </li>

                                    <li class="navbar-item account-menu px-0 mt-2">
                                        <a href="/coach/profile/settings"
                                           class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                                            <span class="h4 mb-0"><i class="uil uil-setting"></i></span>
                                            <h6 class="mb-0 ms-2">Parametres</h6>
                                        </a>
                                    </li>

                                    <li class="navbar-item account-menu px-0 mt-2">
                                        <a href="auth-login-three.html"
                                           class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                                            <span class="h4 mb-0"><i class="uil uil-dashboard"></i></span>
                                            <h6 class="mb-0 ms-2">Logout</h6>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="widget mt-4 pt-2">
                                <h5 class="widget-title">Follow me :</h5>
                                <ul class="list-unstyled social-icon social mb-0 mt-4">
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                                    data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                                    data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                                    data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                                    data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                                    data-feather="github" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                                    data-feather="youtube" class="fea icon-sm fea-social"></i></a></li>
                                    <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i
                                                    data-feather="gitlab" class="fea icon-sm fea-social"></i></a></li>
                                </ul><!--end icon-->
                            </div>
                        </div>
                    </div><!--end col-->
                    {% block secondary %}{% endblock %}
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- Profile End -->

    {% endblock body %}
{#{% endblock %}#}